
/* CSS du scroll to top */
#buttonScroll {
    display: inline-block;
    background-color: #0a0901;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
   }
  
  #buttonScroll::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fcd600;
    background-image: url('../images/chevron-up-solid.svg');
  }
  
  #buttonScroll:hover {
    cursor: pointer;
    background-color: #336699;
  }
  
  #buttonScroll:active {
    background-color: #555;
  }
  
  #buttonScroll.show {
    opacity: 1;
    visibility: visible;
  }
  /* Fin CSS scroll to top */