/* CSS page schoolDoors */


.entry-content {
      margin-top: 3rem;
      }
    
    #schoolDoorsTitle {
      margin-bottom: 6rem;
      color: #336699;
      font-family: 'Permanent Marker', cursive;
      font-size: 3rem;
    }



